<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SUPLauncher.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SUPLauncher.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SUPLauncher.AppSettings>
            <setting name="bind_overlay_modifier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="bind_overlay_key" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="bind_staff_show_modifier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="bind_staff_show_key" serializeAs="String">
                <value>88</value>
            </setting>
            <setting name="bind_staff_po_modifier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="bind_staff_po_key" serializeAs="String">
                <value>69</value>
            </setting>
            <setting name="enable_afk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enable_discord_actvity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="afk_arguments" serializeAs="String">
                <value>-64bit -textmode -single_core -nojoy -low -nosound -sw -noshader -nopix -novid -nopreload -nopreloadmodels -multirun +connect rp.superiorservers.co</value>
            </setting>
        </SUPLauncher.AppSettings>
        <SUPLauncher.App>
            <setting name="Config" serializeAs="String">
                <value />
            </setting>
        </SUPLauncher.App>
    </userSettings>
</configuration>